<section class="content">

    


    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="body">

                <ol class="breadcrumb">
                    <li>
                        <a href="/admin">
                            <i class="material-icons">home</i> خانه
                        </a>
                    </li>
                    <li class="active">
                        <i class="material-icons">library_books</i> همه نظرات کاربران
                    </li>
                </ol>

            </div>
        </div>
    </div>
    <%- include(viewPath('admin/viewpoint/master')) %>


        <div class="row clearfix">


        <div class="col-md-6">
            <div class="body">
                <nav>

                    <%- include(viewPath('layouts/pagination') ,{ pagination : comments}) %>

                </nav>

            </div>
        </div>



        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        نظرات
                        <small>لیست تمام نظرات</small>
                    </h2>


                </div>
                <div class="body table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>آواتار</th>
                                <th>ایمیل ارسال کننده</th>
                                <th>مطلب</th>
                                <th>متن نظر</th>
                                <th>تایید</th>
                                <th>حذف</th>
                            </tr>
                            </thead>
                            <tbody>
                                <% comments.docs.forEach(comment => { %> 
                                    <tr>
                                <td><img src="<%= avatart(comment.email) %>" alt=""></td>

                                        <td><%= comment.user.email %></td>
                                        <td>
                                            <p><%= comment.product.title %></p>
                                        </td>
                                        <td style="font-size: 12px;line-height: 23px;text-align: justify;text-align-last: right;direction: rtl;"><p><%= comment.comment %></p></td>
                                        <td>
                                            <form action="/admin/viewpoint/<%= comment.id %>/approved?_method=PUT" method="post">
                                                <button type="submit" class="btn btn-sm btn-success ml-2">تایید</button>
                                            </form>
                                        </td>
                                    <td>                                                    
                                                    <form action="/admin/viewpoint/<%= comment.id %>/trash?_method=DELETE" method="post">
                                                        <button type="submit" class="btn btn-sm btn-danger">حذف</button>
                                                    </form>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                    </table> 
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="body">
                <nav>
                    <%- include(viewPath('layouts/pagination') ,{ pagination : comments}) %>


                </nav>
            </div>
        </div>
    </div>



</section>







