<div id="wrapper">

    <div class="normalheader ">
        <div class="hpanel">
            <div class="panel-body">
                <a class="small-header-action" href="#">
                    <div class="clip-header">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </a>

                <div id="hbreadcrumb" class="pull-left m-t-lg">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a href="index-2.html">پیشخوان</a></li>
                        <li>
                            <span>گزارشات</span>
                        </li>
                        <li class="active">
                            <span>لیست تمام گزارشات</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    گزارشات
                </h2>
                <small>لیست تمام گزارشات
                </small>
            </div>
        </div>
    </div>


    <div class="content">


        <div class="row">
            <div class="col-lg-12">


                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        جدول گزارشات
                    </div>
                    <div class="panel-body">
                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                            <div class="row">
                                <div class="col-sm-12">

                                    <% if (reportregister.length > 0) { %>
                                        <table border="1">
                                            <thead>
                                                <tr>
                                                    <th>تاریخ</th>
                                                    <th>ایستگاه</th>
                                                    <th>شیفت</th>
                                                    <th>راننده</th>
                                                    <th>آتش‌نشان‌ها</th>
                                                    <th>گزارش</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% reportregister.forEach(function(report) { %>
                                                    <tr>
                                                        <td><%= report.createdAt %></td>
                                                        <td><%= report.stationId ? report.stationId.name : 'نامشخص' %></td>
                                                        <td><%= report.shift %></td>
                                                        <td>
                                                            <% if (report.driver) { %>
                                                                <%= report.driver.firstName %> <%= report.driver.lastName %>
                                                            <% } else { %>
                                                                <span>راننده مشخص نیست</span>
                                                            <% } %>
                                                        </td>
                                                        <td>
                                                            <% if (report.firefighters && report.firefighters.length > 0) { %>
                                                                <% report.firefighters.forEach(function(firefighter) { %>
                                                                    <%= firefighter.firstName %> <%= firefighter.lastName %><br>
                                                                <% }); %>
                                                            <% } else { %>
                                                                <span>آتش‌نشان‌ها مشخص نیستند</span>
                                                            <% } %>
                                                        </td>
                                                        <td><%= report.reportText %></td>
                                                    </tr>
                                                <% }); %>
                                            </tbody>
                                        </table>
                                    <% } else { %>
                                        <p>گزارشی برای نمایش وجود ندارد.</p>
                                    <% } %>
                                
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<!-- DataTables -->
<script src="/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- DataTables buttons scripts -->
<script src="/vendor/pdfmake/build/pdfmake.min.js"></script>
<script src="/vendor/pdfmake/build/vfs_fonts.js"></script>
<script src="/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>




<script>
    $(function () {

        // Initialize Example 1
        $('#example2').dataTable({
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>tp",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            buttons: [{
                    extend: 'copy',
                    className: 'btn-sm'
                },

                {
                    extend: 'pdf',
                    title: 'ExampleFile',
                    className: 'btn-sm'
                },
                {
                    extend: 'print',
                    className: 'btn-sm'
                }
            ]
        });

        // Initialize Example 2
        $('#example2').dataTable();

    });
</script>