<% post.forEach(content => { %>

<section class="single-header">
    <div class="imageHeader">
        <img src="<%= content.images %>" alt="Notebook">

    </div>
</section>
<section class="main">

    <div class="content">
        <div class="desc">
            <div class="tite">
                <h2>مشخصات فنی <%= content.title %></h2>
            </div>

            <%- content.TechnicalSpecifications %>


        </div>
        <div class="gallery">
            <% content.gallery.forEach(gallery => { %>

            <img src="<%= gallery %>" alt="Notebook">
            <% }) %>

        </div>
        <div class="desc">

            <%- content.body %>

        </div>

    </div>

    <div class="sidebar">
        <!-- <h1><%= content.title %></h1> -->
        <div class="img">
            <img src="<%= content.images %>" alt="Notebook">

        </div>


        <div class="buy">
            <div class="info-box">
                <ul>
                        
        <% if(content.cash > 0) { %>
                    <li class="blue"><i class="material-icons">image</i>موجود در انبار</li>
            <% } else { %>
                    <li class="red">ناموجود</li>
            <% } %>
                    <li><i class="material-icons">image</i>گارانتی اصالت</li>
                    <li><i class="material-icons">image</i>گارانتی فیزیکی کالا</li>
                </ul>
            </div>
            <div class="price">
                <h6><i class="material-icons">image</i>قیمت</h6>
                <h6> <span class="pri"><%= price(content.price) %></span> <span class="tom">تومان </span> </h6>
            </div>
            <form action="/cart" method="post">
                <input style="display: none;" name="product" value="<%= content.id %>">
                <button class="buy-btn" type="submit">افزودن به سبد خرید</button>
            </form>

        </div>

    </div>


    <div class="comment_wrapper">
        <div class="comment_header border_bt">
            <h3 class="comment_title single_comment">نظرات کاربران</h3>
        </div>

        <% comment.docs.forEach(content => { %>

        <% if(content.user.admin === true) { %>
            <div class="admin-comments">

                <img src="<%= avatart(content.email) %>" alt="">
                <h2><%= content.user.name %></h2>
                <div class="comment-text">
                    <p><%= content.comment %></p>
                </div>
    
            </div>
 
        <% } else { %>

        <div class="main-comments">

            <img src="<%= avatart(content.email) %>" alt="">
            <h2><%= content.user.name %></h2>
            <div class="comment-text">
                <p><%= content.comment %></p>
            </div>

        </div>
        <% } %>

        <% }) %>


    </div>


    <% if(auth.check) { %>


    <div class="comment_wrapper">
        <form action="/viewpoint" method="post" id="viewpoint">

            <input type="hidden" name="product" value="<%= content.id%>">

            <div class="form-group">
                <h3 id="reply-title" class="comment-reply-title">پاسخی بگذارید </h3>

                <div class="form-group">
                    <textarea name="comment" id="comment" class="form-control" style=" height: 179px; "
                        placeholder="نظر خود را اینجا بنویسید"></textarea>
                </div>
            </div>
            <div id="status">
                <div id="comment-status">
                    <p id="blocking">درخواست شما بیش از حد مجاز میباشد ای پی شما فیلتر شد.</p>
                    <p id="success">نظر ارزشمند شما ثبت شد. تشکر فراوان از ثبت نظرتون.</p>
                    <p id="error">خطایی رخ داده لطفا بعد امتحان کنید یا با پیشتیبانی تماس بگیرید.</p>
                    <p id="validationerror"></p>
                </div>
            </div>
            <button id="expertBtn" name="submit" type="submit">
                نظرم رو بفرست
            </button>
        </form>
    </div>
    <% } else { %>
    <div class="notify">
        <p class="alert-info">فقط کاربران عضو میتوانند برای محصولات نظر ثبت کنند.</p>

    </div>

    <% } %>








    <% }) %>




    <div class="similarproduct">
        <h3 id="reply-title" class="comment-reply-title">محصولات مشابه</h3>

    </div>
    <div class="product-container">

        <% similar.forEach(post => { %>

        <a href="<%= post.slug %>">

            <div class="item">

                <img src="<%= post.images %>" alt="Notebook">
                <div class="content">
                    <h1><%= post.title %></h1>
                </div>
            </div>
        </a>



        <% }) %>

    </div>


</section>




<script>
    var $viewpoint = $('#viewpoint');
    var $blocking = $('#blocking');
    var $success = $('#success');
    var $error = $('#error');
    var $validationerror = $('#validationerror')



    $viewpoint.on('submit', function (ev) {
        ev.preventDefault();

        $.ajax({
            url: "/viewpoint",
            type: 'POST',
            data: $viewpoint.serialize(),
            success: function (data) {
                if (data.length > 0) {
                    document.getElementById("validationerror").innerHTML = "";

                    for (var i = 0; i < data.length; i++) {

                        document.getElementById("validationerror").innerHTML += data[i] + "<br>";
                    }

                    $("#validationerror").css("display", "block");

                    resetForm('viewpoint');

                } else {
                    document.getElementById("validationerror").innerHTML = "";
                    $("#success").css("display", "block");
                    resetForm('viewpoint');

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                $("#blocking").css("display", "block");
            }
        });
    });


    function resetForm(formid) {
        $(':input', '#' + formid).not(':button, :submit, :reset, :hidden').val('')
            .removeAttr('checked').removeAttr('selected');
    }
</script>