<!-- Main Wrapper -->
<div id="wrapper">

    <div class="content">


        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        ویرایش ایستگاه
                    </div>
                    <div class="panel-body">
                        <form action="/admin/station/update/<%= user.id %>" method="post"  class="form-horizontal">

                            <div class="form-group"><label class="col-sm-2 control-label">نام ایستگاه</label>

                                <div class="col-sm-10">
                                    <input type="text" name="name" value="<%= user.name %>"
                                        placeholder="لطفا نام ایستگاه را وارد کنید"
                                        class="form-control input-lg m-b">

                                </div>
                            </div>

                            <div class="form-group"><label class="col-sm-2 control-label">شماره تلفن</label>

                                <div class="col-sm-10"><input type="tel" value="<%= user.phone %>" name="phone" placeholder="شماره تلفن آتش نشان"
                                        class="form-control input-lg m-b">

                                </div>
                            </div>

                            <div class="form-group"><label class="col-sm-2 control-label">آدرس</label>

                                <div class="col-sm-10"><input type="text" value="<%= user.address %>" name="address" placeholder=" آدس ایستگاه"
                                        class="form-control input-lg m-b">

                                </div>
                            </div>




                            <div class="form-group"><label class="col-sm-2 control-label">ایمیل</label>

                                <div class="col-sm-10"><input type="email" value="<%= user.email %>" name="email" placeholder="ایمیل ایستگاه"
                                    class="form-control input-lg m-b">

                            </div>
                            </div>









                            <div class="hr-line-dashed"></div>

                            <button style="
                            width: 100%;
                        " class="btn btn-primary" type="submit">ویرایش ایستگاه</button>
                    </div>
                    <div class="hr-line-dashed"></div>


                    </form>
                </div>
            </div>
        </div>
    </div>


</div>



</div>