<style>
    .swal-overlay--show-modal .swal-modal {
        opacity: 1;
        pointer-events: auto;
        box-sizing: border-box;
        -webkit-animation: showSweetAlert .3s;
        animation: showSweetAlert .3s;
        will-change: transform;
        direction: rtl;
    }
</style>


<div id="wrapper">

    <div class="normalheader ">
        <div class="hpanel">
            <div class="panel-body">
                <a class="small-header-action" href="#">
                    <div class="clip-header">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </a>

                <div id="hbreadcrumb" class="pull-left m-t-lg">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a href="index-2.html">پیشخوان</a></li>
                        <li>
                            <span>آتش نشانها</span>
                        </li>
                        <li class="active">
                            <span>لیست تمام آتش نشانها</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    آتش نشانها
                </h2>
                <small>لیست تمام آتش نشان ها
                </small>
            </div>
        </div>
    </div>


    <div class="content">


        <div class="row">
            <div class="col-lg-12">


                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        جدول آتش نشانها
                    </div>
                    <div class="panel-body">
                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example2"
                                        class="table table-striped table-bordered table-hover dataTable no-footer"
                                        role="grid" aria-describedby="example2_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="example2"
                                                    rowspan="1" colspan="1" aria-sort="ascending"
                                                    aria-label="نام: activate to sort column descending"
                                                    style="width: 150px;">نام آتش نشان</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                    colspan="1" aria-label="موقعیت: activate to sort column ascending"
                                                    style="width: 246px;">شماره تلفن</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                    colspan="1" aria-label="اداره: activate to sort column ascending"
                                                    style="width: 150px;">ایستگاه</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                    colspan="1" aria-label="سن: activate to sort column ascending"
                                                    style="width: 119px;">شیفت</th>
                                                
                                               
                                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                    colspan="1"
                                                    aria-label="شروع تاریخ: activate to sort column ascending"
                                                    style="width: 109px;">جزئیات</th>
                                                  


                                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                    colspan="1" aria-label="حقوق: activate to sort column ascending"
                                                    style="width: 81px;">ویرایش</th>

                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                    colspan="1" aria-label="یبل: activate to sort column ascending"
                                                    style="width: 81px;">حذف</th>
                                            </tr>
                                        </thead>
                                        <tbody>




                                            <% user.forEach(fireman => {  %>

                                            <tr>
                                                <td> <%= fireman.name %> </td>
                                                <td> <%= fireman.phone %> </td>
                                                <!-- <td> <%= fireman.name %> </td> -->
                                                <td> <%= fireman.shifte %> </td>
                                                <td> <a href="/admin/user/<%= fireman._id %>/information"
                                                        class="btn w-xs btn-primary btn-xs">جزيیات</a></td>
                                                <td> <a href="/admin/user/<%= fireman._id %>/edit"
                                                        class="btn w-xs btn-info btn-xs">ویرایش</a></td>
                                                <td>
                                                    
                                                    <a href="/admin/user/<%= fireman._id %>/delete" title="حذف"
                                                        class="btn btn-danger btn-simple btn-xs" onclick="deletes()">
                                                        حذف
                                                    </a>
                                                    </td>
                                            </tr>

                                            <% })  %>


                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>



<script>
    function deletes() {
        event.preventDefault(); // prevent form submit
        var t = event.currentTarget.parentNode.parentNode
        var url = event.currentTarget.href

        swal({
            title: "آیا شما اطمینان دارید برای حذف?",
            text: "در صورت حذف اطلاعات دیگر قابل بازیابی نمیباشد!!!",
            icon: "warning",
            buttons: [
                'لغو!',
                'حذف'
            ],
            dangerMode: true,
        }).then(function (isConfirm) {
            if (isConfirm) {

                const xhr = new XMLHttpRequest()

                //3 
                xhr.open('GET', url, true)

                //4
                xhr.onload = function () {
                    if (this.status === 200) {
                        var obj = JSON.parse(this.response)
                        if(obj.i === 1){
                            t.remove();

                        }

                        swal({
                            title: obj.title,
                            text: obj.text,
                            icon: obj.icon,
                            button: {
                                text: "باشه!",
                            },
                        }).then(function () {

                        });

                        console.log(obj.title)

                    }
                }

                // 5
                xhr.send()

                console.log(xhr)


            } else {
                swal({
                    title: 'لغو شد!',
                    text: 'فایل حذف نشد!!!',
                    icon: 'error',
                    button: {
                        text: "باشه!",
                    },
                });
            }
        })

        console.log('Deleted')
    }
</script>

<!-- DataTables -->
<script src="/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- DataTables buttons scripts -->
<script src="/vendor/pdfmake/build/pdfmake.min.js"></script>
<script src="/vendor/pdfmake/build/vfs_fonts.js"></script>
<script src="/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>




<script>
    $(function () {

        // Initialize Example 1
        $('#example2').dataTable({
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>tp",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            buttons: [{
                    extend: 'copy',
                    className: 'btn-sm'
                },

                {
                    extend: 'pdf',
                    title: 'ExampleFile',
                    className: 'btn-sm'
                },
                {
                    extend: 'print',
                    className: 'btn-sm'
                }
            ]
        });

        // Initialize Example 2
        $('#example2').dataTable();

    });
</script>